:root {
    --bg: #112351;
    --maintext: #9AB6E8;
    --hovertext: #0182E7;
    --headertext: #0762B3;
    --highlight: white;
    --border: solid 2px white;
}

body {
    background-color: var(--bg);
}

header nav ul {
    display: flex;
    justify-content: center;

    list-style: none;
}

header nav ul li {
    margin-left: 3vw;

}
h1{
color: var(--maintext);
font-size: 40pt;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-100%, -100%);
    
}

a {
    text-decoration: none;
    color: var(--maintext);
}

.navigate-page {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

h2 {
    
    font-size:larger;
        color: var(--maintext);
        text-align: center;
        margin-top: 5vh;
    
    }

#about {
    display: flex;
    gap: 50px;
    justify-content: center;
    margin-top: 5vh;
}


#about p {
    color: var(--maintext);
    width: 70vw;
    line-height: 1.5;
    margin-top: 5vh;
}


.work {

    width: 90%;
    margin: 2rem auto;
}


card {
    color: var(--maintext);
}


h3,.workcard {
    color: var(--maintext);
    text-align: center;

}

.row {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
}
.primary{
   
    display: flex;
    justify-content: center;
    margin-bottom: 3vh;
   

}

.maincard {
    border: var(--border);
    width: 88vw;
    height: 300px;
   
}
.firstproj{
    display:flex;
  
   justify-content: center;
}



.column {
    flex: 1 0 30%;
    padding: 20px;
    transition: flex-basis 500ms linear;
    margin-bottom: 5vh;
    margin-left: 3vw;
   /*border: var(--border);*/
    position: relative;
    background-color: var (--bg);
    text-align: center;
    padding: 5px;
    max-width: 45%;
}

.innercard {
    border: var(--border);
}
.column :hover, .primary :hover {
   
    box-shadow: 0 30px 50px var(--hovertext);

}
#contactme {
    height: 30vh;
    text-align: center;
    color: var(--maintext);
}

.contact {
   margin-top: 6vh;
}
.contact a{
    text-decoration: underline;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 10vh;
}

.social {
    margin-top: 5vh;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 3vh;
}

a i,
h6 {
    color: var(--maintext);

}

h6 {
    font-size: 1.2rem;
    text-align: center;
}